/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
    background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  